<?xml version="1.0" encoding="utf-8"?>

<parus>

  <!-- »змерение ионограмм -->
  <Measurement name="ionogram">
    <header>
      <!-- ¬ерси€ дл€ сохранени€ в файл. 0 - »ѕ√, 1 - интенсивности без обработки, 2 - квадратурные отсчеты дл€ калибровки, 3 - CDF -->
      <version>1</version>
      <!-- ∆елаемый шаг по высоте в м. ћожет мен€тьс€ при пересчЄте дл€ выбранной частоты дискретизации. -->
      <height_step>1500</height_step> 
      <!-- „исло высот (размер исходного буфера ј÷ѕ при зондировании, fifo нашего ј÷ѕ 4 б. “.е. не больше 1024 отсчЄтов дл€ двух квадратурных каналов) -->
      <height_count>512</height_count>
      <!-- »мпульсов зондировани€ на каждой частоте -->
      <pulse_count>1</pulse_count>
      <!-- ќслабление (аттенюатор -12дЅ) 1/0 = вкл/выкл -->
      <attenuation>0</attenuation>
      <!-- ”силение, дЅ (g = value/6, 6дЅ = приращение в 4 раза по мощности) -->
      <gain>42</gain>
      <!-- „астота зондирующих импульсов, √ц -->
      <pulse_frq>50</pulse_frq>
      <!-- ƒлительность зондирующих импульсов, мкс -->
      <pulse_duration>50</pulse_duration>
      <!-- „астота переключени€ антенн, к√ц (не используетс€) -->
      <switch_frequency>0</switch_frequency>
      <!-- „исло модулей (не используетс€) -->
      <modules_count>1</modules_count>
    </header>
  
    <module>
      <!-- шаг по частоте ионограммы, к√ц -->
      <fstep>25</fstep>
      <!-- начальна€ частота зондировани€, к√ц -->
      <fbeg>1500</fbeg>
      <!-- конечна€ частота зондировани€, к√ц -->
      <fend>9000</fend>
    </module>
  </Measurement>

  <!-- ћногочастотные измерени€ амплитуд -->
  <Measurement name="amplitudes">
    <header>
      <!-- ¬ерси€ дл€ сохранени€ в файл. -->
      <version>3</version>
      <!-- ∆елаемый шаг по высоте в м. ћожет мен€тьс€ при пересчЄте дл€ выбранной частоты дискретизации. -->
      <height_step>2000</height_step>
      <!-- „исло высот (размер исходного буфера ј÷ѕ при зондировании, fifo нашего ј÷ѕ 4 б. “.е. не больше 1024 отсчЄтов дл€ двух квадратурных каналов) -->
      <height_count>128</height_count>
      <!-- »мпульсов зондировани€ на каждой частоте -->
      <pulse_count>1</pulse_count>
      <!-- ќслабление (аттенюатор -12дЅ) 1/0 = вкл/выкл -->
      <attenuation>1</attenuation>
      <!-- ”силение, дЅ (g = value/6, 6дЅ = приращение в 4 раза по мощности) -->
      <gain>42</gain>
      <!-- „астота зондирующих импульсов, √ц -->
      <pulse_frq>100</pulse_frq>
      <!-- ƒлительность зондирующих импульсов, мкс -->
      <pulse_duration>50</pulse_duration>
      <!-- „астота переключени€ антенн, к√ц (не используетс€) -->
      <switch_frequency>0</switch_frequency>
      <!-- „исло модулей -->
      <modules_count>5</modules_count>
    </header>

    <module>
      <!-- частота зондировани€, к√ц -->
      <frequency>1200</frequency>
    </module>
    <module>
      <!-- частота зондировани€, к√ц -->
      <frequency>1400</frequency>
    </module>
    <module>
      <!-- частота зондировани€, к√ц -->
      <frequency>1600</frequency>
    </module>
    <module>
      <!-- частота зондировани€, к√ц -->
      <frequency>1800</frequency>
    </module>
    <module>
      <!-- частота зондировани€, к√ц -->
      <frequency>2000</frequency>
    </module>
    
  </Measurement>
  
</parus>


